pipeline/movefiles.json
{
	"name": "movefiles",
	"properties": {
		"activities": [
			{
				"name": "getfilelist",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "binario_datasourcefolder",
						"type": "DatasetReference",
						"parameters": {
							"contenedor": {
								"value": "https://stalmacens.blob.core.windows.net/ejercicio3",
								"type": "Expression"
							},
							"directorio": {
								"value": "Creacción de JOBS_binario.xlsb",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "filterfiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getfilelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getfilelist').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filterfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filterfiles').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copyfile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "binario_datasourcefile",
									"type": "DatasetReference",
									"parameters": {
										"contenedor": {
											"value": "@pipeline().parameters.sourcestore_location",
											"type": "Expression"
										},
										"directorio": {
											"value": "@pipeline().parameters.sourcestore_directory",
											"type": "Expression"
										},
										"nombrearchivo": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "binario_datasourcedestination",
									"type": "DatasetReference",
									"parameters": {
										"contenedor": {
											"value": "@pipeline().parameters.destinationstore_location",
											"type": "Expression"
										},
										"directorio": {
											"value": "@pipeline().parameters.destinationstore_directory",
											"type": "Expression"
										},
										"nombrearchivo": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "copyfile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "binario_datasourcefile",
									"type": "DatasetReference",
									"parameters": {
										"contenedor": {
											"value": "@pipeline().parameters.destinationstore_location",
											"type": "Expression"
										},
										"directorio": {
											"value": "@pipeline().parameters.destinationstore_directory",
											"type": "Expression"
										},
										"nombrearchivo": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "ejercicio3"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourcestore_location": {
				"type": "string"
			},
			"sourcestore_directory": {
				"type": "string"
			},
			"destinationstore_location": {
				"type": "string"
			},
			"destinationstore_directory": {
				"type": "string"
			}
		},
		"annotations": []
	}
}